/* CSS for the cd_list.xml file */

cd_info{
 font-family: Tahoma, sans-serif;
 font-size: 16px;
 background: #031f03;
 padding-top: 1.2em;
 display: block;
 
}

cd{
 border: 2px solid #000;
 display: block;
 margin-bottom: 1.5em;
 margin-left: 1.2em;
 padding: 15px;
 background: linear-gradient(#cfc,#699);
 width: 600px;
}

cd title{
 display: inline-block;
 font-weight: bold;
 font-size: 1.5em;
 margin-bottom: 0.3em;
}

cd artist{
 display: inline-block;
 font-size: 1.3em;
 font-style: italic;
 
}

cd song{
  display: list-item;
 list-style-type: square;
 list-style-position: inside;
}

cd year{
 display: block;
 font-style: italic;
 font-weight: bold;
 font-size: 1.2em;
 margin-top: 0.3em;
}







