/* CSS For XML FIle */

body{
 font-family: Tahoma, sans-serif;
 font-size: 16px;
 background: #cfcfcf;
 margin: 0;
}

header, nav , div, footer{
 box-sizing: border-box;
}

/* Header and Footer */

header{
 width:100%;
 background: #303;
 color: #ccc;
 height: 100px;
 line-height: 80px;
 font-size: 3em;
}

footer{
 width: 100%;
 background: #303;
 color: #ccc;
 line-height: 50px;
 height: 50px;
 text-align: center;
 font-size: 1em;
 clear: both;
}

header div, 
footer div{
 margin: 0 auto;
 max-width:960px;
}

/* nav */

nav{
 width: 100%;
 background: #666;
 height: 50px;
}

#menu{
 max-width: 960px;
 margin: 0 auto;
}

nav #menu ul{
 display: inline-block;
 margin: 0;
 padding:0;
}

nav #menu ul li{
 list-style-type: none;
 color: #303;
 display: inline-block;
}

nav #menu ul li a{
 display: inline-block;
 padding: 0 50px;
 line-height: 50px;
 text-decoration: none;
 text-transform: uppercase;
 color: #303;
}

nav #menu ul li a:link,
nav #menu ul li a:visited{
 background: #666;
 color: #fff;
}

nav #menu ul li a:hover,
nav #menu ul li a:active,
nav #menu ul li.current a{
 background: #303;
 color: #fff;
}

/* main contents */

#container{
 max-width: 960px;
 width: 100%;
 margin: 0 auto;
 height: auto;
 background: #000;
}

#inner{
 float:left;
 width: 100%;
 background: #000;
}

#main{
 float: left;
 width: 75%;
 padding: 10px;
 background: #fff;
}

#secondary{
 float: right;
 width: 25%;
 padding: 10px;
 padding-left: 15px;
 height: 100%;
 background: #000;
 margin: 0;
 color: #fff;
}

#cover_pic img{
 display: block;
 margin-left: auto;
 margin-right: auto;
}

#main div h1{
 display: block;
 border-bottom: 2px solid #303;
}

#main div h1 span{
 color: #fff;
 background: #303;
 padding: 2px 10px;
 font-size: 0.8em;
 font-weight: bold;
 font-family: 'Times new Roman', serif;
 border-radius: 10px 10px 0 0;
}

/* Secondary contents */

input:hover{
 border: 3px Solid #FF4500;
}

#channels_list{
 padding-top: 5px;
}

#channels_list a{
 color: #fff;
 text-decoration: none;
}

#news_box a{
 color:#303;
 text-decoration: none;
}

#news_box p a{
 color:#FF4500;
 text-decoration: underline;
}

#channels_list a:hover,
#news_box a:hover,
#news_box p a:hover{
 color: #FF4500;
}

.smalltext{
 font-size: 0.7em;
 margin-bottom: 10px;
 display: inline-block;
 margin-top: 0;
}

/* News CSS */

#news_box{
 border: 2px Solid #000;
 padding: 0 10px;
 margin-bottom: 25px;
}

#news_box:hover{
 background: #E6E6FA;  
 box-shadow: 2px 2px 4px 4px #666;
}

#news_panel #news_box h1{
 font-size: 1.2em;
}


















